# تجاهل الملفات التنفيذية اللي ملهاش امتداد
*

# اسمح بكل الملفات اللي فيها امتداد (زي .cpp, .txt, .md...)
!*.*

# تجاهل مجلدات الترجمة
/build/
/bin/
/dist/

# تجاهل ملفات خاصة بالنظام أو محررات
.DS_Store
*.log
*.tmp
*.swp
!cpp/
!*.json/
